body {
    margin: 0px;
    padding: 0px;
    padding-bottom: 30px;
}

html {
    position: relative;
    min-height: 100%;
}

#hook {
    background-image: url("/graphics/diagmonds.png");
    color:#FFF;

    /*Box*/
    min-height: 500px;
    margin: 0px;
}

#subHook {
    width: 900px;
    margin: 0 auto;
    padding-top: 60px;
}

#tagline {
    width: 50%;
    float: left;
}

#newFile {
    width: 40%;
    float: left;
    margin-left: 10%
}

#footer {
    background-color: #F0F0F0;

    /*Dimensions*/
    width: 100%;
    height: 30px;

    /*Bottom of page*/
    position: absolute;
    bottom: 0px;
}

#newFileNotes {
    size: 100%;
    height: 110px;
    resize: none;
}

#content {
    width: 700px;
    margin: 0 auto;
}

#donateMessage {
    margin: 0px;
    margin-top: 8px;

    /*Font*/
    font-size: 10px;
    color: #777;
}
