{% extends base.html %}

{% block content %}
<div id="content" class="container">
    <h1>About</h1>
    <p>File Away is a simple service that takes an uploaded file and refuses to give it back until the time entered has passed. Files are restricted to 10MB.</p>

    <h2>Uses</h2>
    <p>
        File Away is designed to help you get work done, by allowing you to remove files from your computer you know will be a distraction while you work.<br/>
        Some files below that are well suited for File Away:
        <ul>
            <li>Game save data</li>
            <li>Small yet critical file required by a game</li>
            <li>Encrypted textfile containing passwords to distracting websites</li>
        </ul>
    </p>

    <h2>User accounts</h2>
    <p>
        Advantages for creating a user include:
        <ul>
            <li>Private files</li>
            <li>Ability to delete and manage files</li>
            <li>Increase file size limit from 10MB to 20MB</li>
        </ul>
    </p>

    <h2>Help us</h2>
    <p>
        We would love to hear feedback on your experience with File Away.
        If you have something to say, send us an email at <a>feedback@foobar.com</a>
    </p>
    <p>
        We need donations to keep our servers serving and our programmers programming.
        If you benefited from your use of File Away, please consider a donation to our BTC address: <a>181jWb6py8CrUmFFqQ7ewRrNe4f3K4zhhG</a>
    </p>

    <h2>Source code</h2>
    <p>
        We licence the source code of File Away under GPL v3, check it out at <a>github</a>.
    </p>
</div>
{% end %}
