{#
Copyright 2014 Lucas Kent
Licenced under the GNU GPL V3
#}

{% extends base.html %}

{% block head %}
<title>About | File Time Capsule</title>
{% end %}

{% block content %}
<div id="content" class="container">
    <h1>About</h1>
    <p class="lead">File Time Capsule is a service that takes an uploaded file and refuses to give it back until the specified date. Files are restricted to 10MB.</p>

    <h2>Uses</h2>
    <p>
        File Time Capsule is designed to help you get work done, by allowing you to remove files from your computer you know will be a distraction while you work.<br/>
        Some files that are well suited:
        <ul>
            <li>Game save data</li>
            <li>Small yet critical file required by a large game.</li>
            <!--<li><a href="https://en.wikipedia.org/wiki/Password_manager">Password manager</a> database for distracting games and websites (I recommend <a href="http://keepass.info">Keepass</a>)</li> need login before suitable-->
        </ul>
    </p>

    <h4>Graphics/Code</h4>
    <p>Many thanks to the following, who have provided valuable resources.</p>
    <ul>
        <li><a href="http://subtlepatterns.com/diagmonds/">Diagmonds</a> the elegant tiled image on the landing page.</li>
        <li><a href="https://github.com/Eonasdan/bootstrap-datetimepicker">Bootstrap datetimepicker</a> a valuable part of the file creator.</li>
    </ul>
    <h3>Source code</h3>
    <p>
        Source code is licenced under GPL v3, check it out at <a href="https://github.com/rukai/FileTimeCapsule">github</a>.
    </p>
</div>
{% end %}
