{#
Copyright 2014 Lucas Kent
Licenced under the GNU GPL V3
#}

{% extends base.html %}

{% block head %}
<title>About | File Time Capsule</title>
{% end %}

{% block content %}
<div id="content" class="container">
    <h1>About</h1>
    <p class="lead">File Time Capsule is a service that takes an uploaded file and refuses to give it back until the specified date. Files are restricted to 10MB.</p>

    <h2>Uses</h2>
    <p>
        File Time Capsule is designed to help you get work done, by allowing you to remove files from your computer you know will be a distraction while you work.<br/>
        Some files that are well suited:
        <ul>
            <li>Game save data</li>
            <li>Small yet critical file required by a large game.</li>
            <li><a href="https://en.wikipedia.org/wiki/Password_manager">Password manager</a> database for distracting games and websites (We recommend <a href="http://keepass.info">Keepass</a>)</li>
        </ul>
    </p>

    <!--<h2>User accounts</h2>
    <p>
        Advantages for creating a user include:
        <ul>
            <li>Private files</li>
            <li>Ability to delete and manage files</li>
            <li>Increase file size limit from 10MB to 20MB</li>
        </ul>
    </p>-->

    <h2>Help us</h2>
    <p>
        We would love to hear feedback, send us an email at <a href="mailto:feedback@filetimecapsule.com">feedback@filetimecapsule.com</a>
    </p>
    <p>
        We need donations to keep our servers serving and our programmer programming.
        Please consider a donation to our BTC address: <a>181jWb6py8CrUmFFqQ7ewRrNe4f3K4zhhG</a>
    </p>


    <h3>Acknowledgements</h3>
    <h4>Whitehats</h4>
    <p><a href="mailto:security@filetimecapsule.com">Report</a> a vulnerability to be listed here.</p>

    <h4>Graphics/Code</h4>
    <p>Many thanks to the following, who have provided valuable resources.</p>
    <ul>
        <li><a href="http://subtlepatterns.com/diagmonds/">Diagmonds</a> the elegant tiled image on the landing page.</li>
        <li><a href="https://github.com/Eonasdan/bootstrap-datetimepicker">Bootstrap datetimepicker</a> a valuable part of the file creator.</li>
    </ul>
    <h3>Source code</h3>
    <p>
        We licence the source code of File Time Capsule under GPL v3, check it out at <a>github</a>.
    </p>
</div>
{% end %}
