{#
Copyright 2014 Lucas Kent
Licenced under the GNU GPL V3
#}

{% extends base.html %}

{% block head %}
<link rel="stylesheet" href="css/landing.css"/>
<link rel="stylesheet" href="css/bootstrap-datetimepicker.css"/>

<script type="text/javascript" src="js/moment.js"></script>
<script type="text/javascript" src="js/en-au.js"></script>
<script type="text/javascript" src="js/bootstrap-datetimepicker.js"></script>

<script type="text/javascript" src="js/newFile.js"></script>

<title>File Away</title>
{% end %}

{% block content %}
<div id="hook" class="jumbotron">
    <div id="subHook">
        <div id="tagline">
            <!--<h1>Disable distracting files!</h1>-->
            <!--<h1>Disable those distracting files!</h1>-->
            <!--<h1>File Away distracting files!</h1>-->
            <h1>Control your Distractions!</h1>
            <p>Upload a file which is made available again, only after the specified date and time.</p>
        </div>
        <div id="newFile">
            <form name="newFile" id="newFileForm" role="form" method="post" action="createNewFile" enctype="multipart/form-data" onsubmit="return validateForm()">
                <label for="file">File:</label><br/>
                <input type="file" name="file"/>

                <label for="date">Date returned:</label><br/>
                <input type="text" name="datetimeInput" class="form-control" id="datetimeInput"/>
                <input type="hidden" name="datetimeSubmit" id="datetimeSubmit"/>

                <label for="notes">Optional notes:</label><br/>
                <textarea form="newFileForm" class="form-control" id="newFileNotes" name="notes" placeholder="To remind you what it is."></textarea><br/>

                <input type="submit" value="Free Yourself" class="btn btn-success btn-lg"/>
            </form>
        </div>
    </div><!--subHook-->
</div><!--hook-->
{% end %}
