{#
Copyright 2014 Lucas Kent
Licenced under the GNU GPL V3
#}

{% extends base.html %}

{% block head %}
<link rel="stylesheet" href="/css/landing.css"/>
<link rel="stylesheet" href="/css/bootstrap-datetimepicker.css"/>

<script type="text/javascript" src="/js/moment.js"></script>
<script type="text/javascript" src="/js/en-au.js"></script>
<script type="text/javascript" src="/js/bootstrap-datetimepicker.js"></script>

<script type="text/javascript" src="/js/form.js"></script>
<script type="text/javascript" src="/js/newFile.js"></script>
<script type="text/javascript">
//Contains the time this page was loaded in the timezone of the server in unix time
var serverTime = {{ datetime.datetime.now().strftime("%s")}}
</script>

<title>File Time Capsule</title>
{% end %}

{% block content %}
<div id="hook" class="jumbotron">
    <div id="subHook">
        <div id="tagline">
            <!--<h1>Disable distracting files!</h1>-->
            <!--<h1>Disable those distracting files!</h1>-->
            <h1>Control your Distractions!</h1>
            <p>Upload a file which is made available again, only after the specified date and time.</p>
        </div>
        <div id="newFile">
            <form name="newFile" id="newFileForm" role="form" method="post" action="createNewFile" enctype="multipart/form-data" onsubmit="return validateForm()"><!--onsubmit run on cancel-->
                <div class="row">
                    <label for="file" class="input-label col-md-12">File:</label>
                    <div class="col-md-7">
                        <input type="file" id="fileInput" name="file" onchange="validateFile()" style="padding:0px;"/>
                    </div>  
                    <p class="text-warning input-message col-md-5" id="file-message">x</p>
                </div>

                <div class="row">
                    <label for="date" class="input-label col-md-12">Date returned:</label>
                    <div class="col-md-7">
                        <input type="text" name="datetimeInput" class="form-control" id="datetimeInput" onblur="validateDate()"/>
                    </div>
                    <p class="text-warning input-message col-md-5" id="date-message">x</p>
                </div>
                
                <div class="row">
                    <label for="notes" class="input-label col-md-12">Optional notes:</label>
                    <div class="col-md-7">
                        <textarea form="newFileForm" class="form-control" id="newFileNotes" name="notes" placeholder="To remind you what it is." onblur="validateComment()"></textarea>
                    </div>
                    <p class="text-warning input-message col-md-5" id="comment-message">x</p>
                </div>

                <input type="hidden" name="datetimeSubmit" id="datetimeSubmit"/>
                <input type="submit" value="Free Yourself" class="btn btn-success btn-lg" id="newFileSubmit"/>
            </form>
        </div>
    </div><!--subHook-->
</div><!--hook-->
{% end %}
