{% extends base.html %}

{% block head %}
<link rel="stylesheet" href="css/landing.css"/>
{% end %}

{% block content %}
<div id="hook" class="jumbotron">
    <div id="subHook">
        <div id="tagline">
            <h1>Disable those distracting files!</h1>
            <p>Upload a file which is made available again, only after the designated date and time is reached.</p>
        </div>
        <div id="newFile">
            <form name="newFile" role="form" method="post" action="createNewFile">
                <label for="file">File:</label><br/>
                <input type="file" name="file"/>

                <label for="date">Date returned:</label><br/>
                <input type="date" name="datetime-local" class="form-control"/>

                <label for="notes">Optional notes:</label><br/>
                <textarea form="newFile" class="form-control" id="newFileNotes" name="notes" placeholder="To remind you what it is."></textarea><br/>

                <input type="submit" value="Submit" class="btn btn-success btn-lg"/>
            </form>
        </div>
    </div><!--subHook-->
</div><!--hook-->
{% end %}
